<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test verbose="2" preserve-order="true" name="C:/Users/Shvednazar994/Desktop/geeksOdooPurchases/src/test/java/test">
        <groups>
            <run>
                <include name="smokeTest"/>
            </run>
        </groups>
        <classes>
            <class name="test.Nurlan"/>
            <class name="test.Aigerim"/>
            <class name="test.Nazar"/>
            <class name="test.Kadir"/>
            <class name="test.Aidana"/>
            <class name="test.Olha"/>
        </classes>
    </test>
</suite>